URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,matcher,fullscreen
URxvt.url-select.launcher: firefox-bin
URxvt.url-select.underline: true
URxvt.matcher.button: 1
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
urxvt*keysym.F11: perl:fullscreen:switch

!- Font Render
Xft.dpi:96
URxvt.letterSpace: 0
URxvt.antialias: false
URxvt.autohint:  false
URxvt.rgba: rgba
URxvt.hinting: false
URxvt.lcdfilter: lcddefault

URxvt.cursorBlink:          true
URxvt.cursorUnderline:      false
URxvt.depth:32

!- Copy/paste
URxvt.iso14755: False
URxvt.keysym.Ctrl-Alt-C: perl:clipboard:copy
URxvt.keysym.Ctrl-Alt-V: perl:clipboard:paste
URxvt.underlineURLs: true

!- Misc
URxvt.borderless: true
URxvt.internalBorder: 1
URxvt.scrollstyle:plain
URxvt.scrollBar:false
URxvt.scrollTtyKeypress:true
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.secondaryWheel: 1
URxvt.transparent:false
URxvt.shading: 30
URxvt.geometry: 226x53

!-Urgent Terminal for Notification
URxvtURxvt.urgentOnBell: true
URxvtURxvt.visualBell: false

!colorscheme

!- Font/Backgrond/Foreground
URxvt.borderColor: #101113
URxvt.background: #101113
URxvt.foreground: #cdd2d5
URxvt.color0: #101113
URxvt.color1: #f84513
URxvt.color2: #25ef2e
URxvt.color3: #ffff00
URxvt.color4: #1e90ff
URxvt.color5: #8a4178
URxvt.color6: #add8e6
URxvt.color7: #ffffff
URxvt.color8: #4f4e60
URxvt.color9: #be7b6a
URxvt.color10: #52c75e
URxvt.color11: #ffa500
URxvt.color12: #add8e6
URxvt.color13: #b194a6
URxvt.color14: #8d8ea2
URxvt.color15: #bfbfbf
URxvt.cursorColor: #ebac54
UXTerm*background: black
UXTerm*foreground: green

!- Underline/Highlights
URxvt.underlineColor: #333333
URxvt.highlightColor: #6eddba
URxvt.highlightTextColor: #353535
