██╗   ██╗ █████╗ ██╗     ██╗     ███████╗██╗   ██╗
██║   ██║██╔══██╗██║     ██║     ██╔════╝╚██╗ ██╔╝
██║   ██║███████║██║     ██║     █████╗   ╚████╔╝ 
╚██╗ ██╔╝██╔══██║██║     ██║     ██╔══╝    ╚██╔╝  
 ╚████╔╝ ██║  ██║███████╗███████╗███████╗   ██║   
  ╚═══╝  ╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝   ╚═╝   
                                                  
!- General
Xft.dpi:                     96

!- Rofi
rofi.theme:                  theme
rofi.font:                   Misc Fixed 9

!- UXTerm
UXTerm*background:           black
UXTerm*foreground:           white
